
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Temp", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="photo" id="photo" />

    <input type="submit" value="Upload" />
}

