@model IEnumerable<DecoupageStore.Web.ViewModels.View.ListProductViewModel>
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @if (Model == null)
            {
                <h2>No items in your cart :((</h2>
            }
            else
            {
                foreach (var product in Model)
                {
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="cart-item">
                                <img src=@Url.Content(product.MainImage.Path) />
                                <div>@product.Name</div>
                                <div>@product.Price</div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
