@using DecoupageStore.Web.Areas.Administration.Models.View
@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "Users";
}

<h2>Manage Users</h2>
<div class="panel-group">
    @using (Ajax.BeginForm("Search", "Manage",
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "users-container",
                    InsertionMode = InsertionMode.Replace,
                }, new { id = "search-form" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input id="textbox-search" name="query" type="text" autocomplete="off" class="form-control" placeholder="Search">
                            <span class="input-group-addon">
                                <button id="searchBtn" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div id="suggestionsUserContainer" style="position:absolute; width:90%">
                        </div>
                    </div>
                </div>
            </div>
    }
</div>
<div id="users-container">
    @Html.Partial("_ListUsersPartial", @Model)
</div>

@section styles{
    <style type="text/css">
        #textbox-search {
            position: relative;
        }

        #positioned-container {
            position: absolute;
        }
    </style>
}

@section scripts{
    <script src="~/Scripts/app-scripts/json-requester.js"></script>
    <script type="text/javascript">
        $(document).ready(documentReady);

        function documentReady() {
            $('#textbox-search').on("input", manageSuggestions);
            $("body").on('click', body_clicked);
            $('#searchBtn').on('click',searchBtn_clicked);
        }

        function searchBtn_clicked(sender, eventArgs){
            $('#suggestionsUserContainer').hide();
        }

        function manageSuggestions(sender, eventArgs) {
            var $textBoxSearch = $('#textbox-search'),
                $suggestionsContainer = $('#suggestionsUserContainer');

            $suggestionsContainer.html('');

            if ($textBoxSearch.val().length == 0) {
                $suggestionsContainer.html("").hide();

                return;
            }

            if ($textBoxSearch.val().length < 3) {
                var ul = $("<ul></ul>"),
                    li = $('<li class="list-group-item">Enter atleast 3 symbols</li>');

                ul.addClass("list-group").append(li);

                $suggestionsContainer
                     .html("")
                     .append(ul)
                     .show();

                return;
            }
            else {
                jsonRequester.get('/Administration/Manage/Suggestions',
                    {
                        data: (('query=' + $textBoxSearch.val())),
                        headers:
                            {
                                Accept: 'text/plain, text/html'
                            },
                        dataType: 'html'
                    },
                'text/plain')
                .then(function (response) {
                    $suggestionsContainer.html(response);
                    $suggestionsContainer.show();
                });
            }
        };

        function body_clicked(sender, evenrArgs) {
            var $suggestionsUserContainer = $('#suggestionsUserContainer');

            if (sender.currentTarget.id !== 'suggestionsUserContainer') {
                $suggestionsUserContainer.html("").hide();
            }
        };
    </script>
}
